.main-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 2px #1f1f1f; */
  margin-bottom: 40px;
}

.main-header .logo {
  height: 50px;
  cursor: pointer;
}