.login {
  margin-left: 15px;
  position: relative;
  box-sizing: border-box;
  float: right;
}

.login--username {
  font-weight: 700;
  color: #fafafa;
  padding: 10px 15px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border: 2px solid transparent;
  outline: none;
}

.login--username:hover {
  color: aqua;
  border-bottom: 2px solid aqua;
  background-color: inherit;
  border-radius: none;
}

.login--dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  border-radius: 5px;
  width: 100%;
  transition: all ease-out 1s;
}

.login--dropdown a{
  float: none;
  width: 100%;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}
.login--dropdown a:hover {
  background-color: rgb(0, 230, 230);
  color: black;
}

.login .arrow {
  margin-left: 10px;
  transition: all ease .3s;
}

.display {
  display: block;
}