.weather {
  grid-area: 1 / 4 / span 1 / span 1  ;
  text-align: right; 
  height: 100%;
  max-height: 175px;
  justify-self: center;
}

.weather h4 {
  font-size: 100%;
  padding-top: 10px;
  padding-right: 3px;
}

.weather .grid-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.weather ion-icon {
  align-self: center;
  justify-self: center;
  font-size: 40px;
}

.weather .right-side {
  padding: 5px;
}

.weather .temperature {
  font-size: 120%;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 7px 5px 13px 5px;
}

@media (max-width: 1024px) { 
  .weather {
    grid-area: 1 / 2 / span 1 / span 1  ;
  }
}