.main-footer {
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 2px #373737;
  margin-top: 40px;
  /* bottom: 0; */
  position: absolute;
  width: 100%;
}

.main-footer p {
  
}

.main-footer p:first-child {
  /* background-color: red; */
  padding-top: 10px;
  font-weight: 700;
  padding-bottom: 5px;
}

.main-footer .socials {
  padding: 10px 0;
}

.main-footer a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 1%;
}


