.main-footer {
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 2px #373737;
  margin-top: 40px;
  /* bottom: 0; */
  position: absolute;
  width: 100%;
}

.main-footer p {
  padding: 10px;
}

.main-footer .socials {
  padding-bottom: 10px;
}

.main-footer a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 1%;
}


