.main-footer {
  background-color: rgb(126, 45, 255);
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 2px #1f1f1f;
  margin-top: 40px;
  /* height: 70px; */
}

.main-footer p {
  padding: 10px;
}

.main-footer .socials {
  padding-bottom: 10px;
}

.main-footer a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-right: 1%;
}