/* ------------ setup --------------------- */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;

}

a {
  text-decoration: none;
  cursor: pointer;
  /* margin: 0 5px; */
}

/* ------------ components --------------------- */


button {
  font-size: 100%;
  padding: 4px 16px;
  font-weight: bold;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: aqua;
}


/* ------------ section header --------------------- */


.main-header {
  background-color: rgb(126, 45, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px #1f1f1f;
  margin-bottom: 40px;
}

.main-header .logo {
  height: 50px;
  cursor: pointer;
  
}

.App {
  background-color: rgb(227, 227, 227);
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}



/* ------------ Feeling --------------------- */


/* ------------ Footer --------------------- */

.main-footer {
  background-color: rgb(111, 41, 223);
  padding: 30px;
  margin-top: 40px;
}